<div class="about-cont" id="about">
    <!-- <img src="../../assets/images/darkgrad.png" alt="" class="bg-img"> -->
    <div class="txt">
        <img src="../../assets/images/abt.png" alt="" class="abt">
        <div class="desc">
            <h1>About me</h1>
            <hr>
            <br>
            <p>
                Alexandria University Oct 2020 – Present
Bachelor of Science in Software Industry and Multi-Media (SIM)- department
Academic Achievements:
<br>
• computer science GPA: 3.83/4 (A-/A Average)
<br>
• Attained the 3rd highest ranking in the computer science program

            </p>
        </div>
    </div>

</div>
