<section class="hero">
    <img src="../../assets/images/b2.png" alt="" class="bg-img">
    <div class="hero-overlay dark-grad">
      <img src="../../assets/images/drawing.png" class="myimg">
      <div class="hero-txt">
        <p class="hero-subheader">Web developer</p>
        <h1 class="hero-header">Hello, I'm Fatma</h1>
        <p class="hero-description text-white-50">Choose your website design or leave it on me. I make web apps that make you and your clients happy, Contact me to create your own creative web apps.</p>
        <button class="btn btn-outline-light btn-contact" id="downloadBtn"  (click)="downloadFile()" >RESUME</button>
      </div>
      <div class="band"></div>
    </div>
  </section>